{% extends 'base.html.twig' %}

{% block body %}
            <h1>Return a product</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
{% endblock %}
